__pycache__
db.sqlite3
/static
/media
/backup
/practice
.idea
*.pem
*.ppk
secrets.json
keys.json
.env

# dependencies
node_modules
/.pn
.pnp.js

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*
.npm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
